/* body{
    font-family: comic sans ms;
} */
.the_first_div{
    height: 80vh;
    width: 100%;
}
.the_first_div_back{
    height: 80vh;
    width: 100%;
    opacity: 1.0;
    max-width: 100%;
    /* height: auto; */
}
.first_div{
    display: flex;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgb(15, 211, 113); */
}
.first_div button{
    background-color: transparent;
    border: unset;
    cursor: pointer;
    color: azure;
}
.first_div_top_left{
    display: flex;
    width: 35%;
    padding-left: 10%;
}
.first_div_top_center{
    display: flex;
    width: 45%;
    align-items: center;
}
.first_div_top_center button{
    margin: 25px;
}
.first_div_top_right{
    display: flex;
    width: 20%;
    align-items: center;
}
.first_div_top_right button{
    margin: 15px;
}
.the_first_div_img {
    position: absolute;
    top: 80px;
    left: 350px;
    width: 700px;
    height: 370px;
}
.the_first_div_img img{
    height: 350px;
    width: 100%;
}
.the_first_div_img button{
    background-color: transparent;
    border: unset;
    cursor: pointer;
    color: azure;
}
.the_first_div_img h4{
    color: azure;
    font-style: italic;
}




.the_second_div{
    margin-top: 120px;
    margin-bottom: 120px;
}.the_second_div img{
    height: 250px;
}


.the_third_div{
    padding: 10px;
    margin-bottom: 120px;
}




.social_icons{
    margin-bottom: 10px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
    background-color: rgb(232, 238, 232);
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #f40083;
    color: white;
}  

